.label {
    display: inline-block;
    cursor: pointer;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.label:hover {
    color: black;
    border: 2px solid black;
}

.input {
    display: none;
}

.fileCounter {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1
}

.fileCounterWrapper {
}

.fileCounterInfo {
    position: relative;
    display: flex;
    margin: 5px;
    padding: 5px;
    height: 16px;
    border-style: solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    cursor: pointer;
    width: 170px;
    z-index: 1;
}

.fileCounterInfo div{
    flex-grow: 1;
}

.fileCounterInfo:hover {
    color: black;
    border: 2px solid black;
}

.fileCounterInfoWithDetails {
    position: relative;
    display: flex;
    margin: 5px;
    padding: 5px;
    height: 16px;
    border-style: solid;
    border-radius: 8px 8px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    cursor: pointer;
    width: 170px;
    z-index: 1;
}

.fileCounterInfoWithDetails div{
    flex-grow: 1;
}

.fileCounterInfoWithDetails:hover {
    color: black;
    border: 2px solid black;
}


.fileCounterDetailsWrapper {
    position: relative;
    left: 12px;
    bottom: 42px;
    border-style: solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: normal;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding-top: 33px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 12px;
    margin-left: -7px;
    width: 170px;
    z-index: auto;
    overflow: visible;    
}

.fileCounterDetails {
    overflow: visible;
}

.fileDetail {
    overflow: hidden;
    cursor: pointer;
}

.fileName {
    position: absolute;
    top: -2px;
    right: -26px;
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 2;
}

.fileName:hover {
    visibility: hidden;
}

.fileDetail:focus > .fileName{
    visibility: visible;
}

.fileDetail:hover > .fileName{
    visibility: visible;
}

.retryFailedButton {
    margin-top: -7px;
    margin-right: -7px;
    padding: 5px;
    height: 16px;
    border-style: solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    cursor: pointer;
    z-index: 1;
}

.retryFailedButton:hover {
    color: black;
    border: 2px solid black;
}

@media only screen and (min-width: 600px) {
    .fileCounter {
        position: absolute;
        flex-direction: row;
        display: flex;
        width: 100%;
        z-index: 1
    }
}